In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df_train = pd.read_csv('./train.csv')

In [4]:
df_train

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
...,...,...,...,...,...,...,...,...,...,...,...
8063,464018,Male,No,22,No,NaN,0.0,Low,7.0,Cat_1,D
8064,464685,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4,D
8065,465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6,D
8066,467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6,B
8067,461879,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4,B

In [25]:
df_train.groupby('Segmentation')['Ever_Married'].value_counts()

Segmentation  Ever_Married
A             Yes             1137
              No               801
B             Yes             1348
              No               479
C             Yes             1549
              No               398
D             No              1607
              Yes              609
Name: count, dtype: int64

In [16]:
df_train.groupby('Segmentation')['Profession'].value_counts()

Segmentation  Profession
A             Artist            558
              Entertainment     365
              Engineer          259
              Doctor            199
              Lawyer            197
              Executive         125
              Healthcare        106
              Homemaker          73
              Marketing          57
B             Artist            756
              Entertainment     221
              Engineer          189
              Executive         183
              Lawyer            158
              Doctor            143
              Healthcare        101
              Homemaker          55
              Marketing          30
C             Artist           1065
              Executive         175
              Entertainment     148
              Healthcare        146
              Lawyer            140
              Doctor            140
              Engineer           75
              Marketing          35
              Homemaker          28
D             Healthcare        979
              Entertainment     215
              Doctor            206
              Engineer          176
              Marketing         170
              Artist            137
              Lawyer            128
              Executive         116
              Homemaker          90
Name: count, dtype: int64

In [7]:
df_train['Segmentation'].value_counts().sort_index()

Segmentation
A    1972
B    1858
C    1970
D    2268
Name: count, dtype: int64

In [31]:
X = df_train[['Age', 'Work_Experience', 'Family_Size']]#.drop(['ID', 'Segmentation'], axis=1)
y = df_train['Segmentation']

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

X_train, X_test, y_train,y_test = train_test_split(X, y, train_size=0.8, random_state=42)
model = RandomForestClassifier(n_estimators=50)

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

cm = confusion_matrix(y_test, y_pred)

In [33]:
cm

array([[106,  92,  90, 103],
       [ 91, 100, 121,  57],
       [ 69, 107, 147,  57],
       [ 82,  56,  46, 290]])